h1
{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding: 10px 20px;
    background-color: #3E3353;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h2
{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding: 10px 20px;
    background-color: #3E3353;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    width: fit-content;
    text-align: center;
    display: inline-block;
}

h3
{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding: 10px 20px;
    background-color: #3E3353;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    width: fit-content;
    text-align: center;
    display: inline-block;
}

marquee {
    width: 100%; /* Asegura que tenga espacio suficiente para desaparecer */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Asegura que no haya desbordamiento visible */
}

body
{
    background: radial-gradient(circle, #E8E3F3, #B3A5D4, #6D5B8C);
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    
}

.video-card {
    width: 50rem; /* Ajusta el tamaño si es necesario */
}